# Terraform
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

# Local tooling
.env
.DS_Store
Thumbs.db

# Terraform plans
*.tfplan
tfplan

# Ansible inventory
ansible/inventory.ini
